<div class="footer-bg">
    <div class="footer-content">
        <img class="footer-img" src="assets/logo.png">
        <div>
            <p>Let's stay connected - follow us for all things fashion!</p>
            <div class="footer-contact">
                <div class="footer-contact-detail">
                    <p>Email Address</p>
                    <p>justrefaclothing&#64;gmail.com</p>
                </div>
                <div class="footer-contact-detail">
                    <p>Follow us</p>
                    <p>justrefaclothing</p>
                </div>
            </div>  
        </div>
    </div>
</div>
