<div class="footer-bg">
    <div class="footer-content">
        <img class="footer-img" src="assets/logo.png">
        <div>
            <p>Let's stay connected - follow us for all things fashion!</p>
            <div class="footer-contact">
                <div class="footer-contact-detail">
                    <div>Email Address</div>
                    <div>justrefaclothing&#64;gmail.com</div>
                </div>
                <div class="footer-contact-detail">
                    <div>Follow us</div>
                    <div class="contact-detail-name">
                        <img class="social-media-logo" src="assets/instagram.jpg">
                        <div>justrefaclothing</div>
                    </div>
                </div>
                <div class="footer-contact-detail">
                    <div>Follow us</div>
                    <div class="contact-detail-name">
                        <img class="social-media-logo" src="assets/shopee.png">
                        <div>justrefaclothingofficial</div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
