.main-card {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next row */
  justify-content: start; /* Aligns items to the start horizontally */
  gap: 15px;
  margin: 45px;
}

.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
  flex: 1 1 calc(25% - 16px); /* Flexible width with space adjustment */
  max-width: 25%; /* Ensures no item is larger than 25% of the container */
  box-sizing: border-box; /* Ensures padding is included in width/height */
  height: 100%;
  text-align: center;
}

.listing-photo {
  height: 100%;
  width: 100%; /* Image width matches its parent */
  object-fit: cover;
}

.listing-description {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.collection-title {
  text-align: center;
}

@media (max-width: 768px) {
  .listing {
    flex: 1 1 100%;
    max-width: 100%;
  }
}