.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    color: white;
    height: 60px; /* Set the header's height */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* Automatically push content below header */
  .content-wrapper {
    padding-top: 60px; /* Matches the header's height */
    flex: 1;
  }